---
---

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 2em;
}

p {
	text-align: center;
}

.main-content {
	max-width: unset;
}

#upgrade {

	input, select {
		margin: 10px;
		border-radius: 10px;
		padding: 8px;
	}

	input {
		width: 265px;
		text-align: center;
	}

	.button {
		border-radius: 50px;
		padding: 12px 24px;
		background-color: #067af3;
		border: 1px solid #067af3;
		cursor: pointer;
		color: white;
		width: 238px;
	}

	#upgrade-cancel {
		background-color: #0679f369;
	}
	
	.flex-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.flex-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
